<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>

<!-- Header row -->
<div class="container row">
	<div class="col-md-6 text-left">
		<img src="/images/logo_cow_only_small.png" class="img-responsive" style="float:none; margin:0 auto">  
	</div>
	<div class="col-md-6 text-right">
		<br>
		<a class="text-info text-right" href="/login" style="font-size: 1.3em"> Login</a> or <a class="text-info text-right" href="/signup" style="font-size: 1.3em"> Signup</a>
	</div>
</div>
<hr>


<div class="container" style="background-color: light-grey">
	<div class="col-md-6">
	<h1> About MetaMoo </h1>
	<p> MetaMoo is a free service that lets your record and sync your thoughts as you read articles and take notes. MetaMoo was founded in 2014 by Vasanth Sarathy and Pete Spiegel who wanted to help people organize their thinking. </p>

	<p> At MetaMoo, we want people to be at their creative best and target their mental resources towards higher level tasks like abstract reasoning, creativity and anaysis. We found that people are bogged down with organizational tasks and have little time to make connections in their own knowledge and seek insight. MetaMoo aims to help people think better. </p>

	<h1> Why the name, MetaMoo? </h1>

	<p> MetaMoo comes from Meta + Moo. "Meta" because we believe the key to organizing your thinking in the face of overwhelming information is tracking your introspective thought process, ("Metacognition"). That is the "whys", "hows", "whats" we ask ourselves as we read and write things. Capturing these metacognitive thoughts with hashtags like #what, #conclusion etc., is a very powerful way of remember why you highlighted something or wrote something down.</p>

	<p>The "Moo" is in honor of the cow. Which is not only a holy animal for many, but actually one of the few animals that has epiphanies, just like us humans! We thought what better animal than the cow to match our vision to help people gain insights and epiphanies faster. 
	</p>
	</div>

	<div class="col-md-6">
		<h1> <img src="/images/cow.png" class="img-responsive text-center" > </h1>
	</div>
</div>

<div class="row">
</div>

</body>

</html>