<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>

<!-- Header row -->
<div class="container row">
	<div class="col-md-6 text-left">
		 <a href="/profile" class="navbar-brand"><img src="/images/logo_cow_only_small.png" class="img-responsive" style="float:none; margin:0 auto"></a>
	</div>
	<div class="col-md-6 text-right">
		<br>
		<a class="text-info text-right" href="/login" style="font-size: 1.3em"> Login</a> or <a class="text-info text-right" href="/signup" style="font-size: 1.3em"> Signup</a>
	</div>
</div>
<hr>


<div class="container row" style="background-color: light-grey">
	<div class="col-md-6" style="padding-left: 10%">
	<h1 style="font-family: Serif"> <strong> About MetaMoo </strong> </h1>
	<p style="line-height: 175%"> MetaMoo is a service that lets you sync your thoughts as you read articles and take notes. MetaMoo was founded in 2014 by Vasanth Sarathy and Pete Spiegel. </p>
	<p style="line-height: 175%"> The idea came out of their personal frustrations from not finding a tool that would do more than just organize their files. They wanted something that would give them a jumpstart on their thinking; something that would provide a platform for them to connect ideas floating about in their heads, and across their notes and reading material. </p>

	</div>

	<div class="col-md-6" style="padding-left: 10%">
		<h1> <img src="/images/cow.png" class="img-responsive text-center" > </h1>
	</div>
</div>

<hr>

<div class="container-row" style="padding-left: 20%; padding-right: 20%" >
	<h1 style="font-family: Serif"> <strong>Why the name, MetaMoo? </strong></h1>

	<p style="line-height: 175%"> MetaMoo comes from Meta + Moo. <strong> "Meta" </strong> because we believe the key to organizing your thinking in the face of overwhelming information is tracking your introspective thought process, ("Metacognition"). That is the "whys", "hows", "whats" we ask ourselves as we read and write things. Capturing these metacognitive thoughts with hashtags like #what, #conclusion etc., is a very powerful way of remember why you highlighted something or wrote something down.</p>

	<p style="line-height: 175%">The <strong>"Moo"</strong> is in honor of the cow. Which is not only a holy animal for many, but actually one of the few animals that has epiphanies, just like us humans! We thought what better animal than the cow to match our vision to help people gain insights and epiphanies faster. 
	</p>
</div>

</body>
<hr> 
<footer class="text-center">
	<a class="text-muted" href="/profile" style="font-size: 1.2em"> Home</a> &nbsp | &nbsp
	<a class="text-muted" href="/about" style="font-size: 1.2em"> About us</a> &nbsp | &nbsp
	<a class="text-muted" href="/howitworks" style="font-size: 1.2em"> How it works</a>

</footer>
<br>
</html>