<!DOCTYPE html>
<html lang="en">

 <head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MetaMoo</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lfcepiadodhfomjoknedpnnolilbiajp">

 </head>

  <body>

  <div class="jumbotron container">	
  <h3 style = "font-family: Serif"> Please switch to Google Chrome to access MetaMoo.</h3>

  <p> Sorry about that! We will support Internet Explorer, Firefox and all other browsers soon.</p>

	<p> &nbsp </p> 

  <p> If you <strong>don't</strong> have Google Chrome, please download it here:</p>

  <p> <a href="https://www.google.com/chrome/browser/" class="btn btn-primary btn-lg"><span class="fa fa-download"></span> Install Google Chrome </a></p>

</div>
  	
</body>
</html>
