<!DOCTYPE html>
<html lang="en">

 <head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MetaMoo</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lfcepiadodhfomjoknedpnnolilbiajp">

 </head>

  <body>


  	<div class="jumbotron">
  		<h1>Great job!</h1>
 	 	<h3 style="color:orange">You’ve graduated from the Moo-niversity!</h3>
 	 	&nbsp
 	 	<h4># You are ready to head over to the MetaMoo search page and type in your new tag.</h4>

 	 	<h4># Remember, with MetaMoo, you can <strong><u>highlight and tag any webpage</u></strong>, and then find it here.</h4>
 	 	&nbsp

		<h3>Good luck and happy tagging! <a href="/profile" class="btn btn-primary"><span class="fa fa-arrow-right"></span> Search your new tag </a> </h3>
	</div>
 	<!-- https://www.google.com/chrome/browser/#eula -->


</body>
</html>
