<!DOCTYPE html>
<html lang="en">

 <head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MetaMoo</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


 </head>

  <body>


  	<div class="jumbotron">
  		<h1>Welcome and thanks for signing up at <img src="/images/MetaMoo_logo_beta.png"></h1>
 	 	<h2>Let's get you started in two simple steps . . . </h2>
 	 	&nbsp
 	 	<h3> <strong> Step 1: </strong> <button onclick="chrome.webstore.install()" id="install-button" type="button" class="btn btn-primary"><span class="fa fa-download"></span>Install Plugin</button> Install the MetaMoo plugin now so you can highlight stuff</h3>
 	 	<h3><strong> Step 2: </strong> <a href="/howitworks" class="btn btn-primary"><span class="fa fa-question"></span> Try Tutorial </a> Let's do a quick 1 minute exercise to get you started </h3>	
	</div>


 	<!-- https://www.google.com/chrome/browser/#eula -->


	<script>
		if (chrome.app.isInstalled) {
		  document.getElementById('install-button').style.display = 'none';
		}
	</script>

</body>
</html>
