<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>
<!-- Header row -->
<div class="container row">
	<div class="col-md-6 text-center">
		 <a href="/profile" class="navbar-brand"><img src="/images/logo_cow_only_small.png" class="img-responsive" style="float:none; margin:0 auto"></a> <h1 style="font-family: Serif"> <strong>MetaMoo-niversity </strong></h1>
	</div>
	<div class="col-md-6 text-right">
		<br>
		<% if (!user) {%>
              <a class="text-info text-right" href="/login" style="font-size: 1.3em"> Login</a> or <a class="text-info text-right" href="/signup" style="font-size: 1.3em"> Signup</a>
            <% } else {%>
				<a class="text-info text-right" href="/profile" style="font-size: 1.3em"> MetaMoo Search</a> or <a class="text-info text-right" href="#" style="font-size: 1.3em"> Help</a>
			<% } %>
	</div>
</div>

<hr>
<div class="container-fluid row">

	<!-- Videos -->
	<div class="container col-md-6" style="padding-left: 5%">


		<!-- Contact info -->
		<div class="row">
		<h2 style="font-family: Serif"> <u>Contact Information </u></h2>
		&nbsp;
		<h4><strong> Email </strong></h4>
		<p> vasanth@metamoo.com </p>
		<p> pete@metamoo.com </p>

		</div>
		<hr>

		<div class="row">
		<h2 style="font-family: Serif"><u> Examples of Using MetaMoo:</u> </h2>
		&nbsp;
			<h3><strong>Vacation Planning</strong></h3>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/LCQOTxC1LOk?list=UUw69MaIkbFC6eXcbWUG6x4Q" frameborder="0" allowfullscreen></iframe>
			</div>
		&nbsp;
		<hr>
		&nbsp;
			<h3><strong>Shopping</strong></h3>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/IvSAfR8pp18?list=UUw69MaIkbFC6eXcbWUG6x4Q" frameborder="0" allowfullscreen></iframe>
			</div>
		&nbsp;
			<h3><strong>Students and Teachers</strong></h3>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/AAYDj9DOXMQ?list=UUw69MaIkbFC6eXcbWUG6x4Q" frameborder="0" allowfullscreen></iframe>
			</div>
			</div>

	</div>

	<!-- Right hand bar with contact and faq -->
	<div class="container col-md-6" style="padding-left: 5%">

		<!-- FAQ -->
		<div class="row">
		<h2 style="font-family: Serif"><u> Frequently Asked Questions: </u></h2>

		&nbsp;
		<h4><strong>How do I highlight, tag and take notes?</strong></h4>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/T4ZTpwEVuyQ" frameborder="0" allowfullscreen></iframe>
			</div>

		&nbsp;
		<h4><strong>How do I search my notes?</strong></h4>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/UPQVhGmNiB4" frameborder="0" allowfullscreen></iframe>
			</div>

		&nbsp;
		<h4><strong>How do I see all my notes?</strong></h4>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/3X4DzF8jPPo?list=UUw69MaIkbFC6eXcbWUG6x4Q" frameborder="0" allowfullscreen></iframe>
			</div>

		&nbsp;
		<h4><strong>How do I share my insights?</strong></h4>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/qr_vJXsUVps?list=UUw69MaIkbFC6eXcbWUG6x4Q" frameborder="0" allowfullscreen></iframe>
			</div>

		&nbsp;
		<h4><strong>What does MooPad do?</strong></h4>
			<div >
				<iframe width="420" height="315" src="//www.youtube.com/embed/EWyywEOYfQo?list=UUw69MaIkbFC6eXcbWUG6x4Q" frameborder="0" allowfullscreen></iframe>
			</div>


		</div>

	</div>

</div>


</body>
<hr> 
<footer class="text-center">
	<a class="text-muted" href="/profile" style="font-size: 1.2em"> Home</a> &nbsp | &nbsp
	<a class="text-muted" href="/about" style="font-size: 1.2em"> About us</a> &nbsp | &nbsp
	<a class="text-muted" href="/help" style="font-size: 1.2em"> How it works</a> &nbsp | &nbsp
	<a class="text-muted" href="http://blog.metamoo.com" target="_blank" style="font-size: 1.2em"> Blog</a> &nbsp | &nbsp
	<a class="text-muted" href="/termsofservice" style="font-size: 1.2em"> Terms of Service</a> &nbsp | &nbsp
	<a class="text-muted" href="/privacypolicy" style="font-size: 1.2em"> Privacy Policy</a> 

</footer>
<br>
</html>