<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>


<body>
<div class="container">

	<div class="jumbotron text-center">

		<h1> <img src="/images/main_logo.png" class="img-responsive text-center" style="float:none; margin:0 auto"></h1>

		<p><span class="fa fa-lock"></span>  Login or Register with:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

	</div>

</div>
</body>
</html>
