<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>


<body>
	<header>
		&nbsp
	</header>
<div class="container">

	<div class="jumbotron text-center">

		<h1> <img src="/images/main_logo.png" class="img-responsive text-center" style="float:none; margin:0 auto"></h1>

		<p><span class="fa fa-lock"></span> 
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a></p>
		<!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Sign in with Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Sign in with Google</a> -->

	</div>

</div>
</body>
</html>
