<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>


<body>

<div class="container-fluid">

	<div class="row text-center">
		<div class="col-md-6 text-right">
			<h1> <img src="/images/main_home_larger.png" class="img-responsive text-center" style="float:none; margin: 0 auto" > </h1>
		</div>

		<div class="col-md-6">
			<br>
			<br>
			<br>
			<br>
			<h1> <img src="/images/MetaMoo_logo_beta.png" class="img-responsive text-center" style="float:none; margin: 0 auto"> </h1> 
		<!-- USe this styling to get image in center -->

		<h1 style="font-family: Serif"> Search your notes faster </h1>
 
		<p> &nbsp </p> 
		
		<a href="/profile" class="btn btn-primary btn-lg"><span class="fa fa-search"></span> Search</a>

		<a href="/notepad" class="btn btn-primary btn-lg"><span class="fa fa-clipboard"></span> MooPad</a>
		
		<!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Sign in with Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Sign in with Google</a> -->

	</div>
	</div>

	<div class="row text-center">
		<a href="#anchor" class="text-info">Learn more</a><span class="fa fa-angle-down"></span>
	</div>

	<hr>
	<!-- The main container for the three value props -->
	<!-- =============================================== -->
	<a name="anchor"></a> <div class="container">
	<div class="row">
		<div class="col-md-6 text-center">
			<h1> <img src="/images/highlight.png" class="img-responsive text-center" style="float:none; margin:0 auto"> </h1>
		</div>

		<div class="col-md-6 text-left">
			<h1 style="font-family: Serif"> Highlight your reading </h1>
			<p class="text-muted" style="font-size: 1.25em; font-weight: normal"> Saw an interesting quote that may be relevant later? Well, highlight and tag it with MetaMoo. Don't worry, it's saved and searchable!

			<blockquote style="font-family: Serif"><p style="font-style: italic">"Connecting thoughts and ideas across different articles was easy for me when using metamoo." </p><footer>User</footer></blockquote>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6 text-left">
			<h1 style="font-family: Serif"> Take notes, anywhere </h1>
			<p class="text-muted" style="font-size: 1.25em"> Do you use Evernote or Google Docs or Microsoft Word? Or send yourself emails or texts? Now, simply add hashtags in them, and use MetaMoo to search your notes, wherever they are. </p>

			<blockquote style="font-family: Serif"><p style="font-style: italic">"I thought that hash tagging my notes was very helpful, because when I was stuck on a difficult text and didn't know what to write, all I had to do was hashtag one word, and it summed up all my thinking."</p><footer> User </footer></blockquote>
		</div>

		<div class="col-md-6 text-center">
			<h1> <img src="/images/notes.png" class="img-responsive text-center" style="float:none; margin:0 auto"> </h1>
		</div> 
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<h1> <img src="/images/search.png" class="img-responsive text-center" style="float:none; margin:0 auto"> </h1>
		</div>

		<div class="col-md-6 text-left">
			<h1 style="font-family: Serif">Search and connect everything</h1>
			<p class="text-muted" style="font-size: 1.25em"> MetaMoo is Google for your brain. Search all your highlights and notes by tag and make new connections between ideas. It's easier to remember a tag than the whole note, don't you think? </p>

			<blockquote style="font-family: Serif"><p style="font-style: italic"> "It is much easier than having to scroll through every single one of my notes to find what I was looking for."</p>
				<footer> User </footer> </blockquote>
		</div>
	</div>

</div>

</div>
<div class="container text-center">
<a href="/signup" class="btn btn-primary btn-lg"><span class="fa fa-search"></span> Signup</a>

<span class="text-muted">  or  </span> <a class="text-info" href="/login" style="font-size: 1.3em"> Login</a>
<hr>
</div>
<footer class="text-center">
	<a class="text-muted" href="/profile" style="font-size: 1.2em"> Home</a> &nbsp | &nbsp
	<a class="text-muted" href="/about" style="font-size: 1.2em"> About us</a> &nbsp | &nbsp
	<a class="text-muted" href="/help" style="font-size: 1.2em"> How it works</a> &nbsp | &nbsp
	<a class="text-muted" href="http://blog.metamoo.com" target="_blank" style="font-size: 1.2em"> Blog</a> &nbsp | &nbsp
	<a class="text-muted" href="/termsofservice" style="font-size: 1.2em"> Terms of Service</a> &nbsp | &nbsp
	<a class="text-muted" href="/privacypolicy" style="font-size: 1.2em"> Privacy Policy</a> 

	<br>

</footer>
<br>
</body>
</html>
