<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>

<!-- Header row -->
<div class="container row">
	<div class="col-md-6 text-left">
		 <a href="/profile" class="navbar-brand"><img src="/images/logo_cow_only_small.png" class="img-responsive" style="float:none; margin:0 auto"></a>
	</div>
	<div class="col-md-6 text-right">
		<br>
		<a class="text-info text-right" href="/login" style="font-size: 1.3em"> Login</a> or <a class="text-info text-right" href="/signup" style="font-size: 1.3em"> Signup</a>
	</div>
</div>
<hr>

<div class="container text-center">
	<h1 style="font-family: Serif" class="text-center"> How it Works </h1>
	<h1> <img src="/images/howitworks_700.png" class="img-responsive text-center" style="padding-left:10%"> </h1>
</div>

</body>
<hr> 
<footer class="text-center">
	<a class="text-muted" href="/profile" style="font-size: 1.2em"> Home</a> &nbsp | &nbsp
	<a class="text-muted" href="/about" style="font-size: 1.2em"> About us</a> &nbsp | &nbsp
	<a class="text-muted" href="/howitworks" style="font-size: 1.2em"> How it works</a>

</footer>
<br>
</html>