<!DOCTYPE html>
<html>
  <head>
  	<% include ./partials/head %>
  </head>
  <body class="container-fluid">
    
    <header>
    	<% include ./partials/header %>
    </header>

    <main>
    	<div class="jumbotron">
    		<h1>MetaMoo</h1>
    		<p>Welcome to possibilities</p>
    	</div>

    	<div class="jumbotron">
    		<h1>This is where the search results will go</h1>
    		<p>They will have content, tags, notes, source and date info.</p>
    	</div>

    <h2> Data </h2>
    <p>Content is: <%= appdata[1].content %></p>

	<p>Tag is: <%= appdata[1].tag %></p>
    
    </main>

    <footer>
    	<% include ./partials/footer %>
    </footer>

  </body>
</html>
