<!DOCTYPE html>
<html lang="en">

 <head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MetaMoo</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lfcepiadodhfomjoknedpnnolilbiajp">

 </head>

  <body>


  	<div class="jumbotron">
  		<h1>Welcome to MetaMoo!</h1>
 	 	<p>We hope to simplify note-taking and information recall</p>
	</div>
	<div class="container">
		 	 	<h3>But first, let's practice a bit. . . <a href="/tutorialstep2" class="btn btn-primary"><span class="fa fa-arrow-right"></span> Next </a> </h3>
	</div>
 	<!-- https://www.google.com/chrome/browser/#eula -->


</body>
</html>
