<!DOCTYPE html>
<html lang="en">

 <head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MetaMoo</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lfcepiadodhfomjoknedpnnolilbiajp">

 </head>

  <body>


  	<div class="jumbotron">
 	 	<h2>Let’s try MetaMoo together . . .</h2>
 	 	&nbsp

 	 	<ul>
 	 	<li><h4>Pick a sentence from the table below that makes you laugh.</h4></li>
		<li><h4><strong>Highlight</strong> it and <strong>right-click</strong> with your mouse. Then click <strong>"Tag-To-MetaMoo"</strong>.</h4></li>
		<li><h4>Type in the tag "funny" and write a note to yourself why you found it funny, then hit "submit".</h4></li>
	</ul>
	</div>
	&nbsp
	<div class="container">
		<table border="1" style="width:100%" "padding:15px">
		  <tr>
		    <td style="padding:15px">I am so blue I'm greener than purple.</td>
		    <td style="padding:15px">What do you think about the magical yellow unicorn who dances on the rainbow with a spoonful of blue cheese dressing?</td> 
		  </tr>
		  <tr>
		    <td style="padding:15px">My world is where everybody is a pony and we all eat rainbows and poop butterflies.</td>
		    <td style="padding:15px">My nose is a communist.</td> 
		  </tr>
		  <tr>
		    <td style="padding:15px">If your canoe is stuck in a tree with the headlights on, how many pancakes does it take to get to the moon?</td>
		    <td style="padding:15px">The sparkly lamp ate a pillow then punched Larry.</td> 
		  </tr>	
		  <tr>
		    <td style="padding:15px">There's a big blue muffin in the backyard and it wants pie with cheese.</td>
		    <td style="padding:15px">On a scale from one to ten what is your favourite color of the alphabet.</td> 
		  </tr>
		  <tr>
		    <td style="padding:15px">I watch apples that go swimming at a lake when its dark out at 8:30 a.m. in the afternoon.</td>
		    <td style="padding:15px">You know how sometimes, forever?</td> 
		  </tr>	  
		</table>
	</div>
 	<!-- https://www.google.com/chrome/browser/#eula -->
 	<div class="container">
 		<h3>Go to the final step. . . <a href="/tutorialstep3" class="btn btn-primary"><span class="fa fa-arrow-right"></span> Next </a> </h3>
 	</div>

 	&nbsp


</body>
</html>
