<!DOCTYPE html>
<html lang="en">

 <head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MetaMoo</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lfcepiadodhfomjoknedpnnolilbiajp">

 </head>

  <body>


  	<div class="jumbotron">
 	 	<h2>Ok,Yeah those were pretty random . . .</h2>
 	 	&nbsp
 	 	<ul>
 	 		<li><h4>Let’s try it again. If you forgot what to do, just click the back button and try again.</h4></li>

			<li><h4>Highlight <strong>at least two</strong> sentences and tag it with the same tag you used on the previous page. </h4></li>
		</ul>
	</div>
	&nbsp
	<div class="container">
		<table border="1" style="width:100%" "padding:15px">
		  <tr>
		    <td style="padding:15px">Your blowfish was caught walking on French and Polish saltwater, whilst progressing homework backwards without anything to drink.</td>
		    <td style="padding:15px">My mustache was flabbergasted by an absence of trousers.</td> 
		    <td style="padding:15px">Every time I switch on the television, my big toe tingles green sunlight.</td> 
		  </tr>
		 
		  <tr>
		    <td style="padding:15px">Riding on a Segway eating an onion.</td>
		    <td style="padding:15px">So you broke the cat portfolio, huh? Now go and sign Alice's white mushroom tied up with yarn.</td> 
		    <td style="padding:15px">I set fire to the rain.</td> 
		  </tr>

		  <tr>
		    <td style="padding:15px">My flip-flop ate my brother's sandwich, and then threw up my neighbor's delusional goose!</td>
		    <td style="padding:15px">Marry Poppins killed a shopping trolley.</td> 
		    <td style="padding:15px">My Apple looks like a blue unicorn with 234534 little magical doughnuts that got eaten by a highly trained military llama.</td> 
		  </tr>	 	

		  <tr>
		    <td style="padding:15px">There's too much blood in my caffeine system.</td>
		    <td style="padding:15px">Banana error.</td> 
		    <td style="padding:15px">Everyday a grape licks a friendly cow.</td> 
		  </tr>	 

		  <tr>
		    <td style="padding:15px">Friendly insects eat pink pineapples, while looking at your mum.</td>
		    <td style="padding:15px">The way you play the cheese guitar with the licorice strings and your fishy fingers, is just incredible.</td> 
		    <td style="padding:15px">Thank you for noticing this list, your noticing has been noticed.</td> 
		  </tr>	 

		</table>
	</div>
 	<!-- https://www.google.com/chrome/browser/#eula -->
 	<div class="container">
 		<h3>Graduate from MetaMoo-university. . . <a href="/graduated" class="btn btn-primary"><span class="fa fa-arrow-right"></span> Complete </a> </h3>
 	</div>

 	&nbsp

</body>
</html>
