.editbox
	{
	display:none
	}
td
	{
	padding:5px;
	}
.editbox
	{
	font-size:14px;
	width:270px;
	/*background-color:#ffffcc;*/
	border:solid 1px #000;
	padding:4px;
	}
.edit_tr:hover
	{
	/*background:right no-repeat #80C8E5;*/
	background:right no-repeat #E2F2F9;
	cursor:pointer;
	}
.delete_button
{
	display:none;
}